@import '../../sass/variables';

.footer {
  background-color: $grayColor;
  padding: 8vw;

  display: grid;
	grid-template-columns: 3fr 2fr 2fr 2fr;

  &__Logo {
		text-align: center;
    
		img {
			width: 50%;
		}

		p {
			text-align: left;
      color: white !important;
      font-weight: 200;
			font-size: 1rem;
    }

  }

  p {
    color: $limeGreenColor;
    line-height: 1rem;
    font-weight: 300;
  }

  h3 {
    color: white;
  }

  &__iconList {
    display: flex;
    justify-content: space-evenly;
  }

  &__stampList {
    display: flex;
		column-gap: 10%;
		align-items: center;
  
		img {
			width: auto;
			height: 20vh;
		}
	}

  &__socialMediaIcon {
    border-radius: 0.4rem;
    padding: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $limeGreenColor;
    background-color: $lightGrayColor;
  }

  &__socialMediaImg {
    width: auto;
    height: 5vh;
  }
}