@import '../../sass/variables';

.footer {
  background: $grayColor;
  padding: 100px 200px 100px 200px;

  display: flex;
  justify-content: space-evenly;

  &__Logo {
    width: 300px;

    p {
      color: white;
      font-weight: 200;
      padding-top: 10px;
    }
  }

  &__icon {
    width: 210px;
    padding-bottom: 20px;
  }

  p {
    color: $limeGreenColor;
    line-height: 1.5rem;
    font-weight: 300;
  }

  h3 {
    padding-bottom: 20px;
    color: white;
  }

  &__Contact {
    padding-bottom: 20px;
  }

  &__socialMedia {
    width: 230px;
  }

  &__iconList {
    display: flex;
    gap: 5px;
  }

  &__stampList {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__stamp {
    padding-top: 20px;
    width: 48px;
  }

  &__stamp1 {
    width: 80px;
  }

  &__socialMediaIcon {
    border-radius: 5px;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $limeGreenColor;
    background-color: $lightGrayColor;
  }

  &__socialMediaImg {
    width: auto;
    height: 30px;
  }
}