$tealColor: #26A69A;
$tealColor2: #009688;
$oceanBlueColor: #238DA6;
$blueColor:#1565C0;
$midnightBlueColor: #161935;
$navBarColor: #001329;
$limeGreenColor: #A7B927;
$paleOliveColor: #cad57d;
$grayColor: #383838;