@use '../../sass/variables' as *;
@use '../../sass/mediaQueries' as *;

.aboutTool__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  padding: 2% 5%;

  @include respond-to-small {
    grid-template-columns: 1fr;
    padding: 2% 10%;
  }
}
