div {
  display: block;
  background-color: #238da6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 3% 6%;
}

img {
  width: 60px;
  height: 60px;
}
