.flip-card {
  background-color: transparent;
  width: 20%;
  height: 180px;
  border-radius: 10px;
  perspective: 1000px;

  margin-top: 10px;
}

.flip-card-inner {
  border-radius: 10px;
  background-color: #238da6;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: 0.8s;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; // Safari
  position: absolute;
}

.back {
  transform: rotateY(180deg);
  font-family: Open Sans;
  font-weight: 500;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 0 5px;
}

img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .flip-card {
    flex: 1 1 calc(50% - 100px);
  }
}

@media screen and (max-width: 480px) {
  .flip-card {
    flex: 1 1 calc(100% - 100px);
    justify-content: center;
  }
}
