@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: 'cv11', 'salt', 'ss01', 'ss03', 'cv01', 'cv02', 'cv03',
    'cv04', 'cv05', 'cv06', 'cv09', 'cv10';
}
